/* CSS for all */
*{
  font-family: 'Open Sans Light', sans-serif;
  transition: all linear .1s;
}
html{
  font-size:100%;
}
body{
  background: #D7D3C8;
}
#outer-wrapper
{
  border-top: 2px solid #FFF;
  position:relative;
  min-width:320px;
}
#masthead
{
  background: #C13832 none repeat scroll 0% 0%;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  zoom: 1;
}
/*Nav*/
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
#masthead nav {
  float: right;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
#masthead nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  list-style-type: none;
  margin: 0;
}
#masthead nav li a {
  display: inline-block;
  padding: 12px;
  font-weight: normal;
}
#masthead nav li a,
#masthead nav li a:link,
#masthead nav li a:visited {
  color: #484848;
}
#nav-main .toggle {
  display: none;
  /* Hidden in non-mobile views */
}
/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {
  #masthead,
  .container{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  #masthead nav {
    float: none;
    padding-top: 10px;
    margin-left: 10px;
  }
  #masthead nav ul li {
    display: block;
  }
  #nav-main .toggle {
    display: block;
    width: 32px;
    height: 32px;
    margin: -3px 0 0 -3px;
    background: no-repeat center top url(../img/sandstone/icn-menu.png);
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
  }
  #nav-main .toggle.open {
    background-position: center -100px;
  }
  #nav-main #nav-main-menu li {
    display: block;
    float: none;
    margin: 0 10px;
    border-bottom: 1px solid #f2f2f2;
  }
  #nav-main #nav-main-menu li:last-child {
    border: 0;
  }
  #nav-main #nav-main-menu a {
    cursor: pointer;
    display: block;
    text-transform: none;
    padding: 12px 35px 12px 10px;
    margin: 0 -10px;
  }
  #nav-main #nav-main-menu a.submenu-item {
    background: 94% 50% no-repeat url(../img/sandstone/arrow-go.png);
  }
  #nav-main #nav-main-menu a:hover,
  #nav-main #nav-main-menu a:focus,
  #nav-main #nav-main-menu a:active {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #247ac1;
    background-position: 94% 50%;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(#43a6e2, #247ac1);
    background-image: -ms-linear-gradient(#43a6e2, #247ac1);
    background-image: -o-linear-gradient(#43a6e2, #247ac1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
    background-image: -webkit-linear-gradient(#43a6e2, #247ac1);
    background-image: linear-gradient(#43a6e2, #247ac1);
  }
  #nav-main #nav-main-menu a.submenu-item:hover,
  #nav-main #nav-main-menu a.submenu-item:focus,
  #nav-main #nav-main-menu a.submenu-item:active {
    background-image: url(../img/sandstone/arrow-go.png), -moz-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), -ms-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), -o-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
    background-image: url(../img/sandstone/arrow-go.png), -webkit-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), linear-gradient(#43a6e2, #247ac1);
  }
  #nav-main #nav-main-menu li.first > a {
    border-radius: 10px 10px 0 0;
  }
  #nav-main #nav-main-menu li.last > a {
    border-radius: 0 0 10px 10px;
  }
  #nav-main-menu {
    background: #fff;
    position: absolute;
    z-index: 99;
    width: 200px;
    margin: 15px 0 0 -10px;
    display: none;
    top: 35px;
    overflow: visible;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  #nav-main-menu:before {
    content: "";
    display: block;
    width: 28px;
    height: 10px;
    background: no-repeat url(../img/sandstone/menu-point.png);
    position: absolute;
    left: 12px;
    top: -10px;
  }
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {
  #masthead,
  .container{
    width: auto;
  }
}
/*About Section*/
section#About{
  background-color: #FF9500;
  color: #fff;
  text-align: center;
  font-size: .875rem;
  line-height: 1.5;
  font-family: 'Open Sans',X-LocaleSpecific,sans-serif;
}
#coreContributers img{
  padding: 20px;
}
/*----End---*/

/*About(Community) Section*/
section#community{
  padding:20px 0 20px 0;
  background-color: #c0413c;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  list-style: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
}
/*-----End----*/

/* Media Queries */
@media(max-width: 991px){
  /*-----About(Community) Section----*/
  section#community{
  font-size: 22px;
  width: 100%;
  padding: 0;
  margin: 0;
  }
  section#community .col-md-4{
  padding: 20px 0 20px 0;
  }
  /*-----End----*/
  /*---Download Section---*/
  #ff-download-message-h{
    font-size:2em;
  }
  /*---End---*/
}
@media(min-width:991px) {
  /*---Download Section---*/
  #ff-download-message-h{
    font-size:2.25em;
  }
  /*---End---*/
}



@media(min-width: 622px){
  /*---About Section---*/
  #coreContributers .smallImages{
  display: none;
  }
  /*---End*---*/
}
@media(max-width: 622px){
  /*---About Section----*/
  #coreContributers .bigImages{
  display: none;
  }
  /*---End---*/
  /*---Download Section---*/
  #ff-download-message-h{
    display:none;
  }
  /*---End---*/
}
/* Contact form CSS */
#contact_form{
  background-color: #484848;
}
#contact_form input{
  border-color: #484848;
}
#contact_form input:focus, #contact_form textarea:focus{
  border-color: #0000FF;
  color: #000000;
}
.error{
  color: #FF0000;
  font-size: 10px;
}
/*---Download Section CSS---*/
#download-section {
  background-color:#565A5C;
}
#ff-download-message-h {
  color:white;
}
#ff-download-btn, #ff-download-btn:hover, #ff-download-btn:visited, #ff-download-btn:active {
  text-decoration: none !important;
  color:white;
}
#ff-download-img {
  margin:auto;
}
#ff-download-btn {
  float:none;
}
/*---End---*/

/* Sandstone CSS : Gumdrop Buttons */
.button {
  float: left;
  display: block;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font: 14px/48px 'OpenSans-Reg', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  letter-spacing: -0.25px;
  height: 48px;
  width: 252px;
  background-color: #81BC2E;
  text-align: center;
  color: white;
  border-bottom: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  /* IE10 */
  background-image: -ms-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81bc2e), color-stop(1, #659c28));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #81bc2e 0%, #659c28 100%);
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0s;
  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -moz-transition-duration: 0.25s;
  -moz-transition-delay: 0s;
  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
}
.button:hover {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12 px 24px 2px #7cd31e;
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px #7cd31e;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px #7cd31e;
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0s;
  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -moz-transition-duration: 0.25s;
  -moz-transition-delay: 0s;
  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
}
.button:active {
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0s;
  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -moz-transition-duration: 0.25s;
  -moz-transition-delay: 0s;
  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
}
/*---End---*/