/* CSS for all */
*{
  font-family: 'Open Sans Light', sans-serif;
  transition: all linear .1s;
}
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
html{
  font-size:100%;
}
body{
  background: #D7D3C8;
}
a{
  text-decoration:none;
}
#outer-wrapper{
  border-top: 2px solid #FFF;
  position:relative;
  min-width:320px;
}
#masthead{
  background: #C13832 none repeat scroll 0% 0%;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  zoom: 1;
}
/*Nav*/
ul {
  margin: 0;
  padding: 0;
  border: 0;
}
#masthead nav {
  float: right;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
#masthead nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  list-style-type: none;
  margin: 0;
}
#masthead nav li a {
  display: inline-block;
  padding: 12px;
  font-weight: normal;
}
#masthead nav li a,
#masthead nav li a:link,
#masthead nav li a:visited {
  color: #484848;
}
#nav-main .toggle {
  display: none;
  /* Hidden in non-mobile views */
}
/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {
  #masthead,
  .container{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  #masthead nav {
    float: none;
    padding-top: 10px;
    margin-left: 10px;
  }
  #masthead nav ul li {
    display: block;
  }
  #nav-main .toggle {
    display: block;
    width: 32px;
    height: 32px;
    margin: -3px 0 0 -3px;
    background: no-repeat center top url(../img/sandstone/icn-menu.png);
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
  }
  #nav-main .toggle.open {
    background-position: center -100px;
  }
  #nav-main #nav-main-menu li {
    display: block;
    float: none;
    margin: 0 10px;
    border-bottom: 1px solid #f2f2f2;
  }
  #nav-main #nav-main-menu li:last-child {
    border: 0;
  }
  #nav-main #nav-main-menu a {
    cursor: pointer;
    display: block;
    text-transform: none;
    padding: 12px 35px 12px 10px;
    margin: 0 -10px;
  }
  #nav-main #nav-main-menu a.submenu-item {
    background: 94% 50% no-repeat url(../img/sandstone/arrow-go.png);
  }
  #nav-main #nav-main-menu a:hover,
  #nav-main #nav-main-menu a:focus,
  #nav-main #nav-main-menu a:active {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #247ac1;
    background-position: 94% 50%;
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(#43a6e2, #247ac1);
    background-image: -ms-linear-gradient(#43a6e2, #247ac1);
    background-image: -o-linear-gradient(#43a6e2, #247ac1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
    background-image: -webkit-linear-gradient(#43a6e2, #247ac1);
    background-image: linear-gradient(#43a6e2, #247ac1);
  }
  #nav-main #nav-main-menu a.submenu-item:hover,
  #nav-main #nav-main-menu a.submenu-item:focus,
  #nav-main #nav-main-menu a.submenu-item:active {
    background-image: url(../img/sandstone/arrow-go.png), -moz-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), -ms-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), -o-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
    background-image: url(../img/sandstone/arrow-go.png), -webkit-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), linear-gradient(#43a6e2, #247ac1);
  }
  #nav-main #nav-main-menu li.first > a {
    border-radius: 10px 10px 0 0;
  }
  #nav-main #nav-main-menu li.last > a {
    border-radius: 0 0 10px 10px;
  }
  #nav-main-menu {
    background: #fff;
    position: absolute;
    z-index: 99;
    width: 200px;
    margin: 15px 0 0 -10px;
    display: none;
    top: 35px;
    overflow: visible;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  #nav-main-menu:before {
    content: "";
    display: block;
    width: 28px;
    height: 10px;
    background: no-repeat url(../img/sandstone/menu-point.png);
    position: absolute;
    left: 12px;
    top: -10px;
  }
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {
  #masthead,
  .container{
    width: auto;
  }
}
/*Hero Image Section */
#hero_col{
  position: relative;
}
#hero_main{
  position: relative;
  top: 0;
  left: 0;
  max-width:100%;
}
#hero_logo{
  position: absolute;
  bottom:5px;
}
.animated {
  -webkit-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-webkit-transform: none;
    transform: none;
    -ms-transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    -ms-transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Hero Image ends*/
/*About Section*/
section#About{
  background-color: #E3AD40;
  color: #fff;
  text-align: center;
  font-size: .875rem;
  line-height: 1.5;
  font-family: 'Open Sans',X-LocaleSpecific,sans-serif;
}
.ContributerImages{
  margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ContributerImages:after,.ch-item:before {
	content: '';
    display: table;
}
.ContributerImages:after {
	clear: both;
}
.ContributerImages li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow:
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}
.ch-img-1 {
	background-image: url(../img/ajay.jpg);
}

.ch-img-2 {
	background-image: url(../img/anup.jpg);
}

.ch-img-3 {
	background-image: url(../img/bhuvnesh.jpg);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow:
		inset 0 0 0 110px rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	opacity: 1;
	transform: scale(1);
}
/*----End---*/

/*About(Community) Section*/
section#community{
  padding:40px 0 20px 0;
  background-color: #c0413c;
  color: #fff;
  text-align: center;
  font-size: 35px;
  line-height: 0.9;
  list-style: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
}
section#community .content{
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
}
section#community .col-md-4{
  padding-bottom: 40px;
}
section#community .contribute-btn{
  display: inline-block;
  margin: 0 auto 20px auto;
  padding: 20px 60px;
  line-height: 1.3;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
  background: #0095dd;
  border-radius: 10px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color:white;
  font-weight: bold;
}
section#community .contribute-btn:visited {
  color: #fff;
}
section#community .contribute-btn:hover{
  color: #0095dd;
  background: #fff;
}
section#community .fa-heart{
  color: #dfa09d;
  padding-bottom: 5px;
}
section#community .fa-users{
  color: #dfa09d;
  padding-bottom: 5px;
}
section#community .fa-globe{
  color: #dfa09d;
  padding-bottom: 5px;
}
/*-----End----*/
/*Accordion Slider*/
.no-js img.js, .no-js .panel-title {
    display: none;
}
.pillars {
    position: relative;
    margin: 0 auto;
    background-color: #000000;
    overflow: hidden;
}
.wide .pillars {
    height: 500px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.accordion {
    list-style: none;
    position: relative;
    left: -0.5%;
    top: 0;
    width: 102%;
    margin: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.js .accordion {
    overflow: hidden;
}
.panel {
    background-color: #777;
    display: block;
    margin: 0;
    position: relative;
    border-radius: 0;

    -webkit-transition: background-position .7s ease-in-out;
    -moz-transition: background-position .7s ease-in-out;
    -o-transition: background-position .7s ease-in-out;
    -ms-transition: background-position .7s ease-in-out;
    transition: background-position .7s ease-in-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}


.panel:focus {
    outline: 0;
}
.panel.expanded, .panel.compressed {
    -webkit-transition: background-position .7s ease-in-out;
    -moz-transition: background-position .7s ease-in-out;
    -o-transition: background-position .7s ease-in-out;
    -ms-transition: background-position .7s ease-in-out;
    transition: background-position .7s ease-in-out;

}
.wide .panel {
    margin: 0 0 0 -2px;
    padding: 0;
    float: left;
    width: 19.7%;

    height: 500px;
    min-height: 0;
    overflow: hidden;
    box-shadow: -6px 0 10px -4px rgba(0, 0, 0, 0.5);
}
.wide .panel:first-child {
    box-shadow: none;
}
.no-js .panel {
    min-height: 16em;
}
.no-js #panel-vans {
    overflow: hidden;
}
.panel-title {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    margin: 0;
    padding: 40px 15px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}
.panel-title i {
    font-style: normal;
}
.panel-inner {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-position .7s ease-in-out;
    -moz-transition: background-position .7s ease-in-out;
    -o-transition: background-position .7s ease-in-out;
    -ms-transition: background-position .7s ease-in-out;
    transition: background-position .7s ease-in-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}
.expanded .panel-inner {
    background-color: transparent;
    -webkit-transition: background-position .7s ease-in-out;
    -moz-transition: background-position .7s ease-in-out;
    -o-transition: background-position .7s ease-in-out;
    -ms-transition: background-position .7s ease-in-out;
    transition: background-position .7s ease-in-out;
}
.compressed .panel-inner {
    background-color: rgba(0, 0, 0, 0.25);
}
.panel-content {
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 20px;
    line-height: 1.3;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

}
.panel-content h3 {
    font-weight: bold;
    font-size: 100%;
    color: inherit;
    letter-spacing: -0.03em;
    width: 90%;
    padding: 50px 0 20px 0;

    margin: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;

}

.panel-content p
{
    width: 90%;
    margin-top: 0;
    padding: 0;
    overflow: hidden;

}
.panel-content .go {
    font-size: 90%;
    font-weight: bold;
    letter-spacing: -0.025em;
    border: 2px solid transparent;
    padding: 2px;
    -webkit-transition: border .5s ease-in-out;
    -moz-transition: border .5s ease-in-out;
    -o-transition: border .5s ease-in-out;
    -ms-transition: border .5s ease-in-out;
    transition: border .5s ease-in-out;

}
.panel-content>a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 65px 20px 20px 300px;

}
.panel-content a:link, .panel-content a:visited {
    color: inherit;
}
.panel-content a:hover, .panel-content a:focus, .panel-content a:active {
    color: inherit;
    text-decoration: none;
    outline: 0;
}
.panel-content a:focus .go, .panel-content a:active .go, .panel-content .go:hover {
    text-decoration: none;
    border: 2px solid #ffffff;
}
.wide .panel-content {
    height: 500px;
    min-height: 0;
    width: 290px;
    padding: 40px 1px 40px 300px;
    position: absolute;
    top: 0;
    left: 100px;
}
.wide .panel-content>a {
    padding: 40px 10px 40px 300px;
}
.js .panel-content {
    display: none;
}
.no-js .panel-content {
    min-height: 9.5em;
    padding: 1em 40px 1em 300px;
}
/*add panel-webmaker style*/
#panel-webmaker {
<<<<<<< HEAD
    background: #c13832 url("../img/bg/webmaker.png") 35px 100px no-repeat;
    background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);

=======
  background: #c13832 url("../img/bg/webmaker.png") 35px 100px no-repeat;
  background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
>>>>>>> ff9eda077bbcf732a96e58a776c0d52fa4d21478
}
#panel-webmaker.expanded {
    background-position: 140px 100px;
}
#panel-webmaker.compressed {
    background-position: 8px 100px;
}
#panel-webmaker .panel-title i {
    display: block;
}
/*add panel-friends and panel-FSA style*/
#panel-friends{
    background: #404c58 url("../img/bg/friends.png") 35px 80px no-repeat;
    background: url("../img/bg/friends.png") 35px 80px no-repeat, #333 repeat scroll 0% 0%;

}
#panel-friends.expanded {
    /*background-position: 80px 30px;*/
    background-position: 130px 80px;
}
#panel-friends.compressed {
    background-position: 8px 80px;
}
#panel-FSA
{
    background: #404c58 url("../img/bg/FSA.png") 20px 75px no-repeat;
    background: url("../img/bg/FSA.png") 20px 75px no-repeat, #404c58 repeat;
}
#panel-FSA.expanded {
    /*background-position: 80px 15px;*/
    background-position: 130px 75px;

}
#panel-FSA.compressed {
    background-position: -10px 75px;
}
#panel-friends .panel-title i,#panel-FSA .panel-title i {
    display: block;
}
#panel-fxos {
    background: #0095dd url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox.png") -100px -80px no-repeat;
}
#panel-fxos.expanded {
    /*background-position: -60px -100px;*/
    background-position: -40px -80px;
}
#panel-fxos.compressed {
    background-position: -140px -80px;
}
#panel-reps {
    background: #c13832 url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-position: -50px 20px;
    background-position: -50px 70px, 0 0;
    background-repeat: no-repeat;
    background-repeat: no-repeat, repeat-x;
}

#panel-reps.expanded {
    background-position: -5px 20px;
    background-position: -5px 70px, 0 0;
}
#panel-reps.compressed {
    background-position: -90px 20px;
    background-position: -90px 70px, 0 0;
}
.no-js #panel-reps {
    min-height: 22em;
}

@media only screen and (min-width:760px) and (max-width:1000px) {
.panel-title {
    font-size: 16px;
    width: 222px;
    text-align:left;
}
.wide .panel-content {
    font-size: 16px;
    height: 280px;
    width: 250px;
    left:50px;

}
.wide .panel-content .panel-logo {
    left: 200px;
    top: 30px;

}
.wide .panel-content .go {
    font-size: 16px;
<<<<<<< HEAD
=======
    line-height: 1.2;
    width: 100%;
    height: 100%;
    left: -150px;
    top: 0px;
    padding: 0px 80px;
}
.panel:hover .panel-content
{
  top:-20px;
}
}
@media only screen and (min-width:760px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:1.5dppx), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:144dpi) {
#panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-md-hires.png");
    background-size: 290px 390px;
}
}
@media only screen and (max-width:760px) {
#panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-sm.png");
    background-position: -85px -95px;
}
#panel-fxos.expanded {
    background-position: -85px -30px;
}
#panel-fxos.compressed {
    background-position: -85px -110px;
}
/*kernel*/
#panel-webmaker {
    background-image: url("../img/bg/webmaker-sm.png");
    background-position: 0px -5px;
}
#panel-webmaker.expanded {
    background-position: 10px 40px;
>>>>>>> ff9eda077bbcf732a96e58a776c0d52fa4d21478
}
.wide .panel-content>a {
    padding: 80px 20px 20px 200px;

}
.panel-inner .panel-content h3 {
    width: 65%;
}

.panel-inner .panel-content p {
    width: 65%;


}
    /*add panel-webmaker style*/
    #panel-webmaker {
        background: #c13832 url("../img/bg/webmaker.png") 35px 100px no-repeat;
        background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background: url("../img/bg/webmaker.png") 35px 100px no-repeat, #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);

    }
    #panel-webmaker.expanded {
        background-position: 45px 100px;
    }
    #panel-webmaker.compressed {
        background-position: 8px 100px;
    }
    #panel-webmaker .panel-title i {
        display: block;
    }
    /*add panel-friends and panel-FSA style*/
    #panel-friends{
        background: #404c58 url("../img/bg/friends.png") 35px 80px no-repeat;
        background: url("../img/bg/friends.png") 35px 80px no-repeat, #333 repeat scroll 0% 0%;

    }
    #panel-friends.expanded {

        background-position: 50px 80px;
    }
    #panel-friends.compressed {
        background-position: 8px 80px;
    }
    #panel-FSA
    {
        background: #404c58 url("../img/bg/FSA.png") 20px 75px no-repeat;
        background: url("../img/bg/FSA.png") 20px 75px no-repeat, #404c58 repeat;
    }
    #panel-FSA.expanded {

        background-position: 50px 75px;

    }
    #panel-FSA.compressed {
        background-position: -10px 75px;
    }
    #panel-friends .panel-title i,#panel-FSA .panel-title i {
        display: block;
    }
    #panel-fxos {
        background: #0095dd url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox.png") -100px -80px no-repeat;
    }
    #panel-fxos.expanded {
        /*background-position: -60px -100px;*/
        background-position: -90px -80px;
    }
    #panel-fxos.compressed {
        background-position: -140px -80px;
    }
    #panel-reps {
        background: #c13832 url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
        background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-position: -50px 20px;
        background-position: -50px 70px, 0 0;
        background-repeat: no-repeat;
        background-repeat: no-repeat, repeat-x;
    }

    #panel-reps.expanded {
        background-position: -35px 20px;
        background-position: -35px 70px, 0 0;
    }
    #panel-reps.compressed {
        background-position: -90px 20px;
        background-position: -90px 70px, 0 0;
    }
    .panel-content h3 {

        padding: 10px 5px 20px 0;
        width: 100%;
        margin-left: 10px;

    }

    .panel-content p
    {
        padding-right: 5px;
        width: 100%;
        margin-left: 10px;


    }
}



@media only screen and (min-width:480px) and (max-width:760px) {
    .pillars {
        width: 100%;
    }
    .accordion {
        width: auto;
        padding: 0;
        position: relative;
        left: 0;
        overflow: visible;
        margin: 0;
    }
    .panel {
        float: none;
        width: 100%;
        height: 4.5em;
        margin: 0;
        overflow: hidden;
        position: relative;
        box-shadow: inset 0 4px 10px -5px rgba(0, 0, 0, 0.75);
    }
    .panel:first-child {
        box-shadow: none;
    }
    .panel-inner {
        background: transparent;
        width: 100%;
    }
    .panel-title {
        position: static;
        width: auto;
        height: auto;
        padding: .75em 20px .75em 40%;
        min-height: 3em;
        text-align: left;
        font-size: 16px;
    }
    .panel-title:after {
        content: '\25bc';
        position: absolute;
        right: 25px;
        top: 35%}
    .panel-content {
        font-size: 16px;
        line-height: 1.2;
        width: 100%;
        height: 100%;
    }
    .panel-content>a {
        padding: 65px 40px 40px 300px;
    }
    .panel-content .panel-logo {
        position: static;
        display: block;
        margin-bottom: 10px;
    }
    .no-js .panel {
        height: auto;
        min-height: 20em;
        padding: 0;
    }
    .no-js .panel .panel-content {
        padding: 0;
    }
    .panel-content h3
    {
        width: 120%;

        padding-top: 0;
        margin-top: 0px;
        margin-left: -100px;


    }
    .panel-content p
    {
        width: 120%;
       padding-bottom: 0;
        margin-left: -100px;
    }

    .panel-content .go
    {
        padding:2px
    }
    #panel-fxos {
        background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-sm-hires.png");
        background-size: 190px 246px;
        background-position: -40px -90px;
    }
    #panel-fxos.expanded {
        background-position: -40px -10px;
    }
    #panel-fxos.compressed {
        background-position: -40px -110px;
    }
    #panel-reps {
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-size: 117px 92px;
        background-size: 117px 92px, auto auto;
        background-position: 10px 2px;
        background-position: 10px 2px, 0 0;
    }
    #panel-reps.expanded {
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-position: 10px 85px;
        background-position: 10px 85px, 0 0;
    }
    #panel-reps.compressed {
        background-position: 10px -0px;
        background-position: 10px -0px, 0 0;
    }
    /*blog*/
    #panel-friends {
        background-image: url("../img/bg/friends-sm.png");
        background-position: 25px -2px;
    }
    #panel-friends.expanded {
        background-position: 25px 85px;
    }
    #panel-friends.compressed {
        background-position: 25px -2px;
    }
    /*FSA*/
    #panel-FSA {
        background-image: url("../img/bg/FSA-sm.png");
        background-position: 18px -6px;
    }
    #panel-FSA.expanded {
        background-position: 18px 70px;
    }
    #panel-FSA.compressed {
        background-position: 18px -6px;
    }
    /*community*/
    #panel-webmaker {
        background-image: url("../img/bg/webmaker-sm.png");
        background-position: 25px 2px;
    }
    #panel-webmaker.expanded {
        background-position: 25px 75px;
    }
    #panel-webmaker.compressed {
        background-position: 25px 2px;
    }


}
@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx), (min-resolution:144dpi) {
#panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-hires.png");
    background-size: 335px 468px;
}
#panel-reps {
<<<<<<< HEAD
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-size: 287px 238px;
    background-size: 287px 238px, auto auto;
=======
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-position: -24px -6px;
    background-position: -24px -6px, 0 0;
    background-size: 136px 114px;
    background-size: 136px 114px, auto auto;
}
#panel-reps.expanded {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-sm.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-position: -24px 10px;
    background-position: -24px 10px, 0 0;
}
#panel-reps.compressed {
    background-position: -24px -20px;
    background-position: -24px -20px, 0 0;
}
#panel-reps .panel-content {
    font-size: 16px;
}
#panel-reps .panel-content h3 {
    font-size: 16px;
}
#panel-reps .panel-content legend, #panel-reps .panel-content label {
    font-size: 14px;
}
#panel-reps .panel-content .button {
    font-size: 14px;
    margin-top: 12px;
>>>>>>> ff9eda077bbcf732a96e58a776c0d52fa4d21478
}
}

@media only screen and (max-width:480px){
    .pillars {
        width: 100%;
    }
    .accordion {
        width: auto;
        padding: 0;
        position: relative;
        left: 0;
        overflow: visible;
        margin: 0;
    }
    .panel {
        float: none;
        width: 100%;
        height: 4.5em;
        margin: 0;
        overflow: hidden;
        position: relative;
        box-shadow: inset 0 4px 10px -5px rgba(0, 0, 0, 0.75);
    }
    .panel:first-child {
        box-shadow: none;
    }
    .panel-inner {
        background: transparent;
        width: 100%;
    }
    .panel-title {
        position: static;
        width: auto;
        height: auto;
        padding: .75em 20px .75em 40%;
        min-height: 3em;
        text-align: left;
        font-size: 16px;
    }
    .panel-title:after {
        content: '\25bc';
        position: absolute;
        right: 25px;
        top: 35%}
    .panel-content {
        font-size: 16px;
        line-height: 1.2;
        width: 100%;
        height: 100%;
    }
    .panel-content>a {
        padding: 65px 40px 40px 300px;
    }
    .panel-content .panel-logo {
        position: static;
        display: block;
        margin-bottom: 10px;
    }
    .no-js .panel {
        height: auto;
        min-height: 20em;
        padding: 0;
    }
    .no-js .panel .panel-content {
        padding: 0;
    }

#panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-sm-hires.png");
    background-size: 190px 246px;
    background-position: -80px -90px;

}
#panel-fxos.expanded {
    background-position: -80px -20px;

}
#panel-fxos.compressed {
    background-position: -80px -110px;
}
#panel-reps {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-size: 117px 92px;
    background-size: 117px 92px, auto auto;
    background-position: -30px 2px;
    background-position: -30px 2px, 0 0;
}
#panel-reps.expanded {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-position: -30px 60px;
    background-position: -30px 60px, 0 0;
}
#panel-reps.compressed {
    background-position: -30px -0px;
    background-position: -30px -0px, 0 0;
}
/*blog*/
#panel-friends {
    background-image: url("../img/bg/friends-sm.png");
    background-position: 2px 0px;

}
#panel-friends.expanded {
    background-position: 2px 70px;
}
#panel-friends.compressed {
    background-position: 2px -2px;
}
/*FSA*/
#panel-FSA {
    background-image: url("../img/bg/FSA-sm.png");
    background-position: -5px 0px ;

}
#panel-FSA.expanded {
    background-position: -5px 60px;

}
#panel-FSA.compressed {
    background-position: -5px 0px ;
}
/*community*/
#panel-webmaker {
    background-image: url("../img/bg/webmaker-sm.png");
    background-position: 5px 5px;
}
#panel-webmaker.expanded {
    background-position: 5px 75px;

}
#panel-webmaker.compressed {
    background-position: 5px 5px;
}
.panel-content h3 {


    width: inherit;
    margin-left: -150px;
    padding: 10px 0px;

}

.panel-content p
{
    width: inherit;

    margin-left: -150px;
    font-size: 14px;


}
}
@media only screen and (min-width:760px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:1.5dppx), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:144dpi) {
#panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-md-hires.png");
    background-size: 290px 390px;
}
}

@media only screen and (max-width:760px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:760px) and (min-resolution:1.5dppx), only screen and (max-width:760px) and (min-resolution:144dpi) {
    #panel-fxos {
        background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-sm-hires.png");
        background-size: 190px 246px;
    }
    #panel-reps {
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-size: 117px 92px;
        background-size: 117px 92px, auto auto;
    }
    #panel-reps.expanded {
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
        background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    }
}
/*End*/
/* Contact form CSS */
#contact_form{
  background-color: #484848;
}
#contact_form input{
  border-color: #484848;
}
#contact_form input:focus, #contact_form textarea:focus{
  border-color: #0000FF;
  color: #000000;
}
.error{
  color: #FF0000;
  font-size: 10px;
}
#success{
  color:white;
}
#send{
  margin-bottom:15px;
}


.contact {
    padding: 80px 0;
}

.contact h2.section-heading {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 50px;
}

.contact h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

section#contact_form {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact_form .section-heading {
    color: #fff;
    padding: 10px;
    font-size: 50px;
    font-weight: 700;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section#contact_form .form-group {
    margin-bottom: 35px;
}

section#contact_form .form-group input,
section#contact_form .form-group textarea {
    padding: 20px;
}

section#contact_form .form-group input.form-control {
    height: auto;
}

section#contact_form .form-group textarea.form-control {
    height: 150px;
}

section#contact_form .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact_form::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact_form:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact_form::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact_form:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact_form .text-danger {
    color: #e74c3c;
}

.send-button {
    border-color: #fed136;
    margin-left: 22px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    width: 200px;
    height: 50px;
}

/* Footer Start*/
footer {
    background-color: #D7D3C8 ;
    padding:20px 0;
    font-family: 'Open Sans', sans-serif;
}
.footer-logo img{
  width:183px;
  height:72px;
}
footer ul{
  list-style-type:none;
}
footer h1{
  margin-top:0;
}
footer .fa{
  margin: 3px;
}
footer a:hover, a:focus{
  text-decoration:none;
}
/*.v-bar{
  border-right:1px solid #9E9E9E;
  margin-right: -15px;
  padding-right:0px;
} */
.links a {
  color: #337AB7;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  position: relative;
}

.links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #337AB7;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.links a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*Footer End*/

/* Copyright Text */
section#copyright{
  border-top: 1px solid #AFAFAF;
  padding-top: 10px;
  background: #000;
  color: #E4E4E4;
}

/* Copright Text END */
/*---Download Section CSS---*/
#download-section {
  background-color:#565A5C;
}
#ff-download-message-h {
  color:white;
}
#ff-download-btn, #ff-download-btn:hover, #ff-download-btn:visited, #ff-download-btn:active {
  text-decoration: none;
  color:white;
}
#ff-download-btn, #ff-download-btn:hover, #ff-download-btn:visited, #ff-download-btn:active {
  text-decoration: none;
  color:white;
}
#ff-download-img {
  margin:auto;
}
#ff-download-btn {
  float:none;
}
/*---End---*/
/* Sandstone CSS : Gumdrop Buttons */
.button {
  float: left;
  display: block;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  font: 14px/48px 'OpenSans-Reg', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  letter-spacing: -0.25px;
  height: 48px;
  width: 252px;
  background-color: #81BC2E;
  text-align: center;
  color: white;
  border-bottom: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
  /* IE10 */
  background-image: -ms-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81bc2e), color-stop(1, #659c28));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #81bc2e 0%, #659c28 100%);
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0s;
  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -moz-transition-duration: 0.25s;
  -moz-transition-delay: 0s;
  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
}
.button:hover {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12 px 24px 2px #7cd31e;
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px #7cd31e;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 2px #7cd31e;
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0s;
  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -moz-transition-duration: 0.25s;
  -moz-transition-delay: 0s;
  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
}
.button:active {
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0, 0, 0, 0.2), inset 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0s;
  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -moz-transition-duration: 0.25s;
  -moz-transition-delay: 0s;
  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
}
/*---End---*/
/*Events Section*/
.grid {
	max-width: 1300px;
	list-style: none;
  margin: 0 auto;
  height: 60px;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.grid li {
	padding: 20px;
	text-align: left;
}
.grid figure {
	position: relative;
}
.grid figure img {
	max-width: 100%;
	position: relative;
	display: block;
  padding-bottom: 100px;
  width:100%
}
.grid figcaption {
	padding: 20px;
	background: #2c3f52;
	color: #E0E4CC;
}
.grid figcaption h3 {
  transform: scaleY(1);
	margin: 0;
	padding: 0;
	color: #fff;
}
.grid figcaption p
{
  height:0;
  opacity:0;
  visibility:hidden;
  transition:height 0.1s,opacity 0.1s,visibility 0.1s;
  padding-top:1em;
}
.grid figcaption .more, .grid figcaption .register {
	text-align: center;
	padding: 10px 20px;
	border-radius: 2px;
	display: inline-block;
  height:0;
  opacity:0;
  visibility:hidden;
  transition:height 0.1s,opacity 0.1s,visibility 0.1s;
  -webkit-transition:height 0.1s,opacity 0.1s,visibility 0.1s;
  -moz-transition:height 0.1s,opacity 0.1s,visibility 0.1s;
  -ms-transition:height 0.1s,opacity 0.1s,visibility 0.1s;
  -o-transition:height 0.1s,opacity 0.1s,visibility 0.1s;
  font-size:14px;
}
.grid figcaption .info-box
{
  max-height: 75%;
  position: relative;
  overflow: hidden;
}
.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
  position:absolute;
	top: auto;
	bottom: 0;
	transition: height 0.4s;
}
.cs-style-3 figure:hover figcaption {
	transition: height 0.4s;
}
.cs-style-3 figure:hover figcaption p
{
  height:60%;
  opacity:1;
  visibility:visible;
  transition:height 0.4s,opacity 0.4s,visibility 0.4s;
}
.cs-style-3 figure:hover figcaption .more, .cs-style-3 figure:hover figcaption .register
{
  height:initial;
  opacity:1;
  visibility:visible;
  transition:height 0.1s,opacity 0.4s,visibility 0.4s;
}
.cs-style-3 figcaption .register {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.cs-style-3 figcaption .more {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.container-back{
  z-index: 19;
  background: rgb(80, 81, 79) none repeat scroll 0% 0%;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  top: -70px;
  left: -70px;
  position: relative;
}
.back{
  cursor: pointer;
  position: absolute;
  left: 65px;
  top: 73px;
}
.more{
  cursor:pointer;
}
.cardfigure a{
  background-color: #363636;
  color: #E0E4CC;
}
.cardfigure a:hover{
  color:#363636;
  background-color:#E0E4CC;
  text-decoration: none;
}
.cardfigure span{
  font-weight:bold;
}
.cardfigure h4{
  position: relative;
  bottom: 1.8em;
}
.single-event .info p{
  clear:both;
  padding-top:1em;
  font-size: 16px;
  text-align: justify;
}
.single-event .info .buttons{
  padding-top:1em;
}
@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
