/* CSS for all */
* {
  font: 300 'Open Sans', Arial;

  -webkit-transition: all linear .1s;
          transition: all linear .1s;
}

html, body {


  width: auto !important;
  height: 100%;
}
@-moz-document url-prefix() {
    html, body {
      overflow-x: hidden !important;
    }
}
body {
  overflow-x: hidden !important;
  background: #d7d3c8;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

#outer-wrapper {
  position: relative;

  min-width: 320px;
  min-height: 100%;
  /*margin-bottom: 200px;*/

  border-top: 2px solid #fff;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #outer-wrapper {
    margin-bottom: 200px;
  }
}
.no-margin-wrapper{
  margin-bottom:0 !important;
}
#masthead {
  position: relative;

  display: block;
  zoom: 1;

  margin: 0 auto;
  padding: 0 20px;

  background: #414C59 none repeat scroll 0 0;
}
/*CSS for all end*/

/*Nav*/
ul {
  margin: 0;
  padding: 0;

  border: 0;
}

#masthead nav {
  font: 13px 'Open Sans', sans-serif;

  float: right;

  margin: 0 16px 0 0;

  text-transform: uppercase;
}

#masthead nav li {
  display: inline-block;

  margin: 0;

  list-style-type: none;

  *display: inline;
  *zoom: 1;
}

#masthead nav li a {
  font-weight: normal;

  display: inline-block;

  padding: 12px;
}

#masthead nav li a,
#masthead nav li a:link,
#masthead nav li a:visited {
  color: #eee;
  text-decoration: none;
  font-weight: 600;
}

#masthead nav li a:hover{
  background-color: #6e8096;
}

#nav-main .toggle{
  display: none;
  /* Hidden in non-mobile views */
}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px)
{
  #masthead, .container {
    width: auto;
    padding: 0 10px 0 10px;
  }
  #masthead nav {
    float: none;

    margin: 0 0 0 10px;
    padding: 10px 0 0 0;
  }
  #masthead nav ul li {
    display: block;
  }
  #nav-main .toggle {
    display: block;
    overflow: hidden;
    width: 32px;
    height: 32px;
    margin: -3px 0 0 -3px;
    cursor: pointer;
    text-indent: -999em;
    background: no-repeat center top url(../img/sandstone/icn-menu.png);
  }
  #nav-main .toggle.open {
    background-position: center -100px;
  }
  #nav-main #nav-main-menu li {
    display: block;
    float: none;
    margin: 0 10px;
    border-bottom: 1px solid #f2f2f2;
  }
  #nav-main #nav-main-menu li:last-child {
    border: 0;
  }
  #nav-main #nav-main-menu a {
    display: block;
    color: #000;
    margin: 0 -10px;
    padding: 12px 35px 12px 10px;
    cursor: pointer;
    text-transform: none;
  }
  #nav-main #nav-main-menu a.submenu-item {
    background: 94% 50% no-repeat url(../img/sandstone/arrow-go.png);
  }
  #nav-main #nav-main-menu a:hover,
  #nav-main #nav-main-menu a:focus,
  #nav-main #nav-main-menu a:active {
    text-decoration: none;
    color: #fff;
    background-color: #247ac1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
    background-image: -webkit-linear-gradient(#43a6e2, #247ac1);
    background-image:         linear-gradient(#43a6e2, #247ac1);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
  }
  #nav-main #nav-main-menu a.submenu-item:hover,
  #nav-main #nav-main-menu a.submenu-item:focus,
  #nav-main #nav-main-menu a.submenu-item:active {
    background-image: url(../img/sandstone/arrow-go.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43a6e2), color-stop(100%, #247ac1));
    background-image: url(../img/sandstone/arrow-go.png), -webkit-linear-gradient(#43a6e2, #247ac1);
    background-image: url(../img/sandstone/arrow-go.png), linear-gradient(#43a6e2, #247ac1);
  }
  #nav-main #nav-main-menu li.first > a {
    border-radius: 10px 10px 0 0;
  }
  #nav-main #nav-main-menu li.last > a {
    border-radius: 0 0 10px 10px;
  }
  #nav-main-menu {
    position: absolute;
    z-index: 99;
    top: 35px;
    display: none;
    overflow: visible;
    width: 200px;
    margin: 15px 0 0 -10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
  }
  #nav-main-menu:before {
    position: absolute;
    top: -10px;
    left: 12px;
    display: block;
    width: 28px;
    height: 10px;
    content: '';
    background: no-repeat url(../img/sandstone/menu-point.png);
  }
}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {
  #masthead, .container {
    width: auto;
  }
}
/*Nav End*/

/*Hero Image Section */
#hero_col {
  position: relative;
}

#hero_main {
  position: relative;
  top: 0;
  left: 0;

  max-width: 100%;
}

#hero_logo {
  position: absolute;
  bottom: 5px;
}

.animated {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);

    opacity: 0;
  }

  100% {
    -webkit-transform: none;
            transform: none;

    opacity: 1;

    -o-webkit-transform: none;
  }
}

@keyframes fadeInDown
{
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

/* Hero Image ends*/
/*Download Section*/
#download-section {
  background-color: #424E5A;
}

#ff-download-message-h {
  color: white;
}

#ff-download-btn,
#ff-download-btn:hover,
#ff-download-btn:visited,
#ff-download-btn:active {
  text-decoration: none;
  color: white;
}

#ff-download-btn,
#ff-download-btn:hover,
#ff-download-btn:visited,
#ff-download-btn:active {
  text-decoration: none;
  color: white;
}

#ff-download-img {
  margin: auto;
}

#ff-download-btn {
  float: none;
}

/*Sandstone CSS : Gumdrop Buttons*/
.button {
  font: 14px/48px 'OpenSans-Reg', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  display: block;
  float: left;
  width: 252px;
  height: 48px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-property:      box-shadow;
          transition-property:      box-shadow;
  text-align: center;
  text-decoration: none;
  letter-spacing: -.25px;
  color: white;
  border-bottom: none;
  border-radius: .25em;
  background-color: #81bc2e;
  /* IE10 */
  /* Mozilla Firefox */
  /* Opera */
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81bc2e), color-stop(1, #659c28));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #81bc2e 0%, #659c28 100%);
  /* Proposed W3C Markup */
  background-image:         linear-gradient(top, #81bc2e 0%, #659c28 100%);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0, .1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

.button:hover{
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-property:      box-shadow;
          transition-property:      box-shadow;

  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .1), inset 0 -2px 0 0 rgba(0, 0, 0, .2), inset 0 12px 24px 2px #7cd31e;
}

.button:active {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow;
  -webkit-transition-property:      box-shadow;
          transition-property:      box-shadow;

  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, .2), inset 0 12px 24px 6px rgba(0, 0, 0, .2), inset 0 0 2px 2px rgba(0, 0, 0, .2);
}

/*Sandstone CSS : Gumdrop Buttons End*/
/*Download Section End*/

/*Events Section*/
section#events {
  background-color: #D7D3C8;
}

.grid {
  max-width: 1300px;
  height: 60px;
  margin: 0 auto;
  list-style: none;
}

.grid li {
  padding: 20px;
  text-align: left;
}

.grid figure {
  position: relative;
}

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 400px;
  padding-bottom: 120px;
}

.grid figcaption {
  padding: 20px;
  color: #e0e4cc;
  background: #424E5A;
}

.grid figcaption h3 {
  overflow: hidden;
  min-height: 2.2em;
  margin: 0;
  padding: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.ellipsis {
  overflow: hidden;
}

.grid figcaption p {
  visibility: hidden;
  height: 0;
  padding: 1em 0 0 0;
  -webkit-transition: height .1s,opacity .1s,visibility .1s;
          transition: height .1s,opacity .1s,visibility .1s;
  opacity: 0;
}

.grid figcaption .more,
.grid figcaption .register {
  font-size: 14px;
  display: inline-block;
  visibility: hidden;
  height: 0;
  padding: 10px 20px;
  -webkit-transition: height .1s,opacity .1s,visibility .1s;
          transition: height .1s,opacity .1s,visibility .1s;
  text-align: center;
  opacity: 0;
  border-radius: 5px;
}

.grid figcaption .info-box {
  position: relative;
  overflow: hidden;
  min-height: 100px;
  max-height: 75%;
}

.cs-style-3 figcaption {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 120px;
  -webkit-transition: height .4s;
          transition: height .4s;
}

.cs-style-3 figure:hover figcaption h3 {
  overflow: visible;
  white-space: normal;
}

.cs-style-3 figure:hover figcaption span,
.cs-style-3 figure:hover figcaption h4 {
  position: unset;
  bottom: unset;
}

.cs-style-3 figure:hover figcaption {
  -webkit-transition: height .4s;
          transition: height .4s;
}

.cs-style-3 figure:hover figcaption p {
  visibility: visible;
  height: 140px;
  -webkit-transition: height .4s,opacity .4s,visibility .4s;
          transition: height .4s,opacity .4s,visibility .4s;
  opacity: 1;
}

.cs-style-3 figure:hover figcaption .more,
.cs-style-3 figure:hover figcaption .register {
  visibility: visible;
  height: initial;
  -webkit-transition: height .1s,opacity .4s,visibility .4s;
          transition: height .1s,opacity .4s,visibility .4s;
  opacity: 1;
}

.cs-style-3 figcaption .register {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.cs-style-3 figcaption .more {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.container-back {
  z-index: 19;
}

.back {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 100px;
  background-image: url('../img/back-button.png');
  background-size: contain;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}

.more {
  cursor: pointer;
}

.more-center {
  position: relative !important;
  top: 20px;
  left: 0 !important;
  display: block !important;
  width: 100px;
}

.cardfigure a {
  background-color: #424E5A;
  border: 2px solid #e0e4cc;
}
.more{
  color: #0095dd !important;
}
.register{
  color: #93ca55 !important;
}

.cardfigure a:hover {
  text-decoration: none;
}
.more:hover{
  border: 2px solid #0095dd;
}
.register:hover{
  border: 2px solid #93ca55;
}
.cardfigure span {
  font-weight: bold;
  position: relative;
  bottom: 4.0em;
}

.cardfigure h4 {
  position: relative;
  bottom: 1.8em;
  white-space: nowrap;
}

.single-event .info p {
  font-size: 16px;
  clear: both;
  padding-top: 1em;
  text-align: center;
}

.single-event .info .buttons {
  padding-top: 1em;
}

#registersingle,
#meetupsingle {
  margin-bottom: 2em;
}
#registersingle{
  background: #93ca55;
  color: #fff;
}
#meetupsingle{
  background: #0095dd;
  color: #fff;
}
#registersingle:hover,#meetupsingle:hover{
  background:#fff
}
#registersingle:hover{
  color: #93ca55;
}
#meetupsingle:hover{
  color: #0095dd;
}
.btn-more{
  background-color: #D7D3C8;
  color:#0095dd;
  border: 2px solid #b6b6b6;
}
.btn-more:hover{
  background-color: #D7D3C8;
  color:#0095dd;
  border: 2px solid #0095dd;
}
@media screen and (max-width: 31.5em) {
  .grid
  {
      padding: 10px 10px 100px 10px;
  }
  .grid li
  {
      width: 100%;
      min-width: 300px;
  }
}

@media (max-width:363px) {
  .cs-style-3 figure:hover figcaption p {
      height: 100px;
  }
  #meetupsingle, #registersingle {
      font-size: unset;
  }
}

/*Event Section End*/

/*Accordion Slider*/
.no-js img.js, .no-js .panel-title {
  display: none;
}

.pillars {
  position: relative;
  margin: 0 auto;
  background-color: #000000;
  overflow: hidden;
}

.wide .pillars {
  height: 500px;
  box-sizing: content-box;
}

.accordion {
  list-style: none;
  position: relative;
  left: -.5%;
  top: 0;
  width: 102%;
  margin: 0;
  box-sizing: content-box;
}

.js .accordion {
  overflow: hidden;
}

.panel {
  background-color: #777;
  display: block;
  margin: 0;
  position: relative;
  border-radius: 0;
  -webkit-transition: background-position .6s ease-in-out;
  transition: background-position .6s ease-in-out;
  box-sizing: content-box;
}

.panel:focus {
  outline: 0;
}
.panel.expanded, .panel.compressed {
  -webkit-transition: background-position .6s ease-in-out;
  transition: background-position .6s ease-in-out;
}

.wide .panel {
  margin: 0 0 0 -2px;
  padding: 0;
  float: left;
  width: 19.7%;

  height: 500px;
  min-height: 0;
  overflow: hidden;
  box-shadow: -6px 0 10px -4px rgba(0, 0, 0, .5);
}

.wide .panel:first-child {
  box-shadow: none;
}

.no-js .panel {
  min-height: 16em;
}

.no-js #panel-vans {
  overflow: hidden;
}

.panel-title {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -.025em;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  text-transform: uppercase;
  margin: 0;
  padding: 40px 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-sizing: content-box;
}

.panel-title i {
  font-style: normal;
}

.panel-inner {
  background-color: rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-position .6s ease-in-out;
  transition: background-position .6s ease-in-out;
  box-sizing: content-box;
}

.expanded .panel-inner {
  background-color: transparent;
  -webkit-transition: background-position .6s ease-in-out;
  transition: background-position .6s ease-in-out;
}

.compressed .panel-inner {
  background-color: rgba(0, 0, 0, .25);
}

.panel-content {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  box-sizing: content-box;
}

.panel-content h3 {
  font-weight: bold;
  font-size: 100%;
  color: inherit;

  letter-spacing: -.03em;
  width: 90%;
  padding: 50px 0 20px 0;
  margin: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

.panel-content p {
  width: 90%;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
}

.panel-content .go {
  font-size: 90%;
  font-weight: bold;
  letter-spacing: -.025em;
  border: 2px solid transparent;
  padding: 2px;
  -webkit-transition: border .5s ease-in-out;
  transition: border .5s ease-in-out;
}

.panel-content>a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 65px 20px 20px 300px;
}

.panel-content a:link, .panel-content a:visited {
  color: inherit;
}

.panel-content a:hover, .panel-content a:focus, .panel-content a:active {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

.panel-content a:focus .go, .panel-content a:active .go, .panel-content .go:hover {
  text-decoration: none;
  border: 2px solid #ffffff;
}

.wide .panel-content {
  height: 500px;
  min-height: 0;
  width: 290px;
  padding: 40px 1px 40px 300px;
  position: absolute;
  top: 0;
  left: 100px;
}

.wide .panel-content>a {
  padding: 40px 10px 40px 300px;
}

.js .panel-content {
  display: none;
}

.no-js .panel-content {
  min-height: 9.5em;
  padding: 1em 40px 1em 300px;
}

/*add panel-webmaker style*/
#panel-webmaker {
  background: #c13832 url("../img/bg/wm.svg") 15px 90px no-repeat;
  background-size: 230px 235px;
  background: url("../img/bg/wm.svg") 15px 90px no-repeat, #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background: url("../img/bg/wm.svg") 15px 90px no-repeat, #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
}

#panel-webmaker.expanded {
  background-position: 140px 90px;
}

#panel-webmaker.compressed {
  background-position: 8px 90px;
}

#panel-webmaker .panel-title i {
  display: block;
}

/*add panel-friends and panel-FSA style*/
#panel-friends{
  background: #333 url("../img/bg/frds.svg") 35px 80px no-repeat;
  background-size: 220px 264px;
  background: url("../img/bg/frds.svg") 35px 80px no-repeat, #333 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background: url("../img/bg/frds.svg") 35px 80px no-repeat, #333 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
}

#panel-friends.expanded {
  background-position: 130px 80px;
}

#panel-friends.compressed {
  background-position: 8px 80px;
}

#panel-FSA {
  background: #404c58 url("../img/bg/fsa.svg") 40px 85px no-repeat;
  background-size: 190px 234px;
  background: url("../img/bg/fsa.svg") 40px 85px no-repeat, #404c58 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background: url("../img/bg/fsa.svg") 40px 85px no-repeat, #404c58 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
}

#panel-FSA.expanded {
  background-position: 130px 85px;
}

#panel-FSA.compressed {
  background-position: 10px 85px;
}

#panel-friends .panel-title i,#panel-FSA .panel-title i {
  display: block;
}

#panel-fxos {
  background: #0095dd url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox.png") -100px -80px no-repeat;
}

#panel-fxos.expanded {
  background-position: -40px -80px;
}

#panel-fxos.compressed {
  background-position: -140px -80px;
}

#panel-reps {
  background: #c13832 url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
  background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  background-position: -50px 20px;
  background-position: -50px 70px, 0 0;
  background-repeat: no-repeat;
  background-repeat: no-repeat, repeat-x;
}

#panel-reps.expanded {
  background-position: -5px 20px;
  background-position: -5px 70px, 0 0;
}

#panel-reps.compressed {
  background-position: -90px 20px;
  background-position: -90px 70px, 0 0;
}

.no-js #panel-reps {
  min-height: 22em;
}

@media only screen and (min-width:760px) and (max-width:1000px) {
  .panel-title {
    font-size: 16px;
    width: 222px;
    text-align:left;
  }
  .wide .panel-content {
    font-size: 16px;
    height: 280px;
    width: 250px;
    left:50px;
  }
  .wide .panel-content .panel-logo {
    left: 200px;
    top: 30px;
  }
  .wide .panel-content .go {
    font-size: 16px;
  }
  .wide .panel-content>a {
    padding: 80px 20px 20px 200px;
  }
  .panel-inner .panel-content h3 {
    width: 65%;
  }
  .panel-inner .panel-content p {
    width: 65%;
  }

  /*add panel-webmaker style*/
  #panel-webmaker {
    background: #c13832 url("../img/bg/wm.svg") 15px 90px no-repeat;
    background-size: 200px 205px;
    background: url("../img/bg/wm.svg") 15px 90px no-repeat, #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("../img/bg/wm.svg") 15px 90px no-repeat, #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  }
  #panel-webmaker.expanded {
    background-position: 45px 90px;
  }
  #panel-webmaker.compressed {
    background-position: 8px 90px;
  }
  #panel-webmaker .panel-title i {
    display: block;
  }

  /*add panel-friends and panel-FSA style*/
  #panel-friends {
    background: #404c58 url("../img/bg/frds.svg") 10px 65px no-repeat;
    background-size: 220px 264px;
    background: url("../img/bg/frds.svg") 10px 65px no-repeat, #333 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("../img/bg/frds.svg") 10px 65px no-repeat, #333 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  }
  #panel-friends.expanded {
    background-position: 50px 65px;
  }
  #panel-friends.compressed {
    background-position: 8px 65px;
  }
  #panel-FSA
  {
    background: #404c58 url("../img/bg/fsa.svg") 20px 85px no-repeat;
    background-size: 190px 234px;
    background: url("../img/bg/fsa.svg") 20px 85px no-repeat, #404c58 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("../img/bg/fsa.svg") 20px 85px no-repeat, #404c58 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0,) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  }
  #panel-FSA.expanded {
    background-position: 60px 85px;
  }
  #panel-FSA.compressed {
    background-position: 10px 85px;
  }
  #panel-friends .panel-title i,#panel-FSA .panel-title i {
    display: block;
  }
  #panel-fxos {
    background: #0095dd url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox.png") -100px -80px no-repeat;
  }
  #panel-fxos.expanded {
    /*background-position: -60px -100px;*/
    background-position: -90px -80px;
  }
  #panel-fxos.compressed {
    background-position: -140px -80px;
  }
  #panel-reps {
    background: #c13832 url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), #c13832 linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-position: -50px 20px;
    background-position: -50px 70px, 0 0;
    background-repeat: no-repeat;
    background-repeat: no-repeat, repeat-x;
  }
  #panel-reps.expanded {
    background-position: -35px 20px;
    background-position: -35px 70px, 0 0;
  }
  #panel-reps.compressed {
    background-position: -90px 20px;
    background-position: -90px 70px, 0 0;
  }
  .panel-content h3 {
    padding: 10px 5px 20px 0;
    width: 100%;
    margin-left: 10px;
  }
  .panel-content p {
    padding-right: 5px;
    width: 100%;
    margin-left: 10px;
  }
}

@media only screen and (min-width:480px) and (max-width:760px) {
  .pillars {
    width: 100%;
  }
  .accordion {
    width: auto;
    padding: 0;
    position: relative;
    left: 0;
    overflow: visible;
    margin: 0;
  }
  .panel {
    float: none;
    width: 100%;
    height: 4.5em;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 4px 10px -5px rgba(0, 0, 0, .75);
  }
  .panel:first-child {
    box-shadow: none;
  }
  .panel-inner {
    background: transparent;
    width: 100%;
  }
  .panel-title {
    position: static;
    width: auto;
    height: auto;
    padding: .75em 20px .75em 40%;
    min-height: 3em;
    text-align: left;
    font-size: 16px;
  }
  .panel-title:after {
    content: '\25bc';
    position: absolute;
    right: 25px;
    top: 35%;
  }
  .panel-content {
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    height: 100%;
  }
  .panel-content>a {
    padding: 65px 40px 40px 300px;
  }
  .panel-content .panel-logo {
    position: static;
    display: block;
    margin-bottom: 10px;
  }
  .no-js .panel {
    height: auto;
    min-height: 20em;
    padding: 0;
  }
  .no-js .panel .panel-content {
    padding: 0;
  }
  .panel-content h3 {
    width: 120%;
    padding-top: 0;
    margin-top: 0;
    margin-left: -100px;
  }
  .panel-content p {
    width: 120%;
    padding-bottom: 0;
    margin-left: -100px;
  }
  .panel-content .go {
    padding:2px;
  }
  #panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-sm-hires.png");
    background-size: 190px 246px;
    background-position: -40px -90px;
  }
  #panel-fxos.expanded {
    background-position: -40px -10px;
  }
  #panel-fxos.compressed {
    background-position: -40px -110px;
  }
  #panel-reps {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-size: 117px 92px;
    background-size: 117px 92px, auto auto;
    background-position: 10px 2px;
    background-position: 10px 2px, 0 0;
  }
  #panel-reps.expanded {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-position: 10px 85px;
    background-position: 10px 85px, 0 0;
  }
  #panel-reps.compressed {
    background-position: 10px -0px;
    background-position: 10px -0px, 0 0;
  }
  /*blog*/
  #panel-friends {
    background-image: url("../img/bg/frds.svg");
    background-size: 100px 122px;
    background-position: 25px -2px;
  }
  #panel-friends.expanded {
    background-position: 25px 85px;
  }
  #panel-friends.compressed {
    background-position: 25px -2px;
  }
  /*FSA*/
  #panel-FSA {
    background-image: url("../img/bg/fsa.svg");
    background-size: 100px 122px;
    background-position: 18px 7px;
  }
  #panel-FSA.expanded {
    background-position: 18px 70px;
  }
  #panel-FSA.compressed {
    background-position: 18px -6px;
  }
  /*community*/
  #panel-webmaker {
    background-image: url("../img/bg/wm.svg");
    background-size: 100px 103px;
    background-position: 25px 2px;
  }
  #panel-webmaker.expanded {
    background-position: 25px 75px;
  }
  #panel-webmaker.compressed {
    background-position: 25px 2px;
  }
}

@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx), (min-resolution:144dpi) {
  #panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-hires.png");
    background-size: 335px 468px;
  }
  #panel-reps {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate-hires.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-size: 287px 238px;
    background-size: 287px 238px, auto auto;
  }
}

@media only screen and (max-width:480px){
  .pillars {
    width: 100%;
  }
  .accordion {
    width: auto;
    padding: 0;
    position: relative;
    left: 0;
    overflow: visible;
    margin: 0;
  }
  .panel {
    float: none;
    width: 100%;
    height: 4.5em;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 4px 10px -5px rgba(0, 0, 0, .75);
  }
  .panel:first-child {
    box-shadow: none;
  }
  .panel-inner {
    background: transparent;
    width: 100%;
  }
  .panel-title {
    position: static;
    width: auto;
    height: auto;
    padding: .75em 20px .75em 40%;
    min-height: 3em;
    text-align: left;
    font-size: 16px;
  }
  .panel-title:after {
    content: '\25bc';
    position: absolute;
    right: 25px;
    top: 35%;}
  .panel-content {
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    height: 100%;
  }
  .panel-content>a {
    padding: 65px 40px 40px 300px;
  }
  .panel-content .panel-logo {
    position: static;
    display: block;
    margin-bottom: 10px;
  }
  .no-js .panel {
    height: auto;
    min-height: 20em;
    padding: 0;
  }
  .no-js .panel .panel-content {
    padding: 0;
  }
  #panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-sm-hires.png");
    background-size: 190px 246px;
    background-position: -80px -90px;
  }
  #panel-fxos.expanded {
    background-position: -80px -20px;
  }
  #panel-fxos.compressed {
    background-position: -80px -110px;
  }
  #panel-reps {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-size: 117px 92px;
    background-size: 117px 92px, auto auto;
    background-position: 0 2px;
    background-position: 0 2px, 0 0;
  }
  #panel-reps.expanded {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-position: 0 80px;
    background-position: 0 80px, 0 0;
  }
  #panel-reps.compressed {
    background-position: 0 -0;
    background-position: 0 -0, 0 0;
  }
  /*blog*/
  #panel-friends {
    background-image: url("../img/bg/frds.svg");
    background-size: 100px 122px;
    background-position: 2px 0;
  }
  #panel-friends.expanded {
    background-position: 2px 70px;
  }
  #panel-friends.compressed {
    background-position: 2px -2px;
  }
  /*FSA*/
  #panel-FSA {
    background-image: url("../img/bg/fsa.svg");
    background-size: 100px 122px;
    background-position: 5px 10px ;
  }
  #panel-FSA.expanded {
    background-position: 5px 60px;
  }
  #panel-FSA.compressed {
    background-position: 5px 0;
  }
  /*community*/
  #panel-webmaker {
    background-image: url("../img/bg/wm.svg");
    background-size: 100px 103px;
    background-position: 5px 5px;
  }
  #panel-webmaker.expanded {
    background-position: 5px 75px;
  }
  #panel-webmaker.compressed {
    background-position: 5px 5px;
  }
  .panel-content h3 {
    width: inherit;
    margin-left: -150px;
    padding: 10px 0;
  }
  .panel-content p {
    width: inherit;
    margin-left: -150px;
    font-size: 14px;
  }
}

@media only screen and (min-width:760px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:1.5dppx), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:144dpi) {
  #panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-md-hires.png");
    background-size: 290px 390px;
  }
}

@media only screen and (max-width:760px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:760px) and (min-resolution:1.5dppx), only screen and (max-width:760px) and (min-resolution:144dpi) {
  #panel-fxos {
    background-image: url("http://mozilla-tunisia.org/static/home/img/firefoxos-fox-sm-hires.png");
    background-size: 190px 246px;
  }
  #panel-reps {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-size: 117px 92px;
    background-size: 117px 92px, auto auto;
  }
  #panel-reps.expanded {
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png");
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
    background-image: url("http://mozilla-tunisia.org/static/home/img/bg-donate.png"), linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.15) 80%, rgba(0, 0, 0, 0.1) 92%, rgba(0, 0, 0, 0) 100%);
  }
}
/*End*/

/*About Section*/
section#About {
  font: .875rem 'Open Sans',X-LocaleSpecific,sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #4B3D3D;
  background-color: #D7D3C8;
}

div#AboutUs p {
  text-align: justify;
  margin: 0 auto;
  font-size: 1.3em;
}

div#AboutUs ul {
  text-align: left;
  margin: 0 auto;
  padding: 10px 40px;
  font-size: 1.3em;
}

.ContributerImages {
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.ContributerImages:after,
.ch-item:before {
  display: table;
  content: '';
}

.ContributerImages:after {
  clear: both;
}

.ContributerImages li {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 20px;
}

.ch-item {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 rgba(65,76,89,.4),
  inset 0 0 0 16px rgba(255,255,255,.6),
  0 1px 2px rgba(0,0,0,.1);
}

.ch-img-1 {
  background-image: url(../img/ajay.jpg);
}

.ch-img-2 {
  background-image: url(../img/anup.jpg);
}

.ch-img-3 {
  background-image: url(../img/bhuvnesh.jpg);
}

.ch-info {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.ch-info h3 {
  font-family: 22px 'Open Sans', Arial, sans-serif;
  font-size: 22px;
  position: relative;
  height: 110px;
  margin: 0 30px;
  padding: 65px 0 0 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 1px #fff,
  0 1px 2px rgba(0,0,0,.3);
}

.ch-info p {
  font-size: 12px;
  font-style: italic;
  margin: 0 30px;
  padding: 10px 5px;
  color: #fff;
  border-top: 1px solid rgba(255,255,255,.5);
}

.ch-info p a {
  font: normal 700 12px 'Open Sans', Arial, sans-serif;
  display: block;
  padding-top: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255,255,255,.7);
}

.ch-info p a:hover {
  color: rgba(255,242,34,.8);
}

.ch-item:hover {
  box-shadow: inset 0 0 0 110px rgba(65,76,89,.4),
  inset 0 0 0 16px rgba(65,76,89,.8),
  0 1px 2px rgba(0,0,0,.1);
}

.ch-item:hover .ch-info {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
/*About Section End*/

/*About(Community) Section*/
section#community {
  font: normal normal 35px/.9 'Open Sans';
  padding: 40px 0 20px 0;
  list-style: none;
  text-align: center;
  color: #fff;
  background-color: #c0413c;
}

section#community .content {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

section#community .col-md-4 {
  padding: 0 0 40px 0;
}

section#community .contribute-btn {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.3;
  display: inline-block;
  margin: 0 auto 20px auto;
  padding: 20px 60px;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  background: #0095dd;
}

section#community .contribute-btn:visited {
  color: #fff;
}

section#community .contribute-btn:hover {
  color: #0095dd;
  background: #fff;
}

section#community .fa-heart {
  padding-bottom: 5px;
  color: #dfa09d;
}

section#community .fa-users {
  padding-bottom: 5px;
  color: #dfa09d;
}

section#community .fa-globe
{
  padding-bottom: 5px;
  color: #dfa09d;
}
/*About(Community) Section End*/

/* Contact form CSS */
#contact_form {
  background-color: #484848;
}

#contact_form input {
  border-color: #484848;
}

#contact_form input:focus,
#contact_form textarea:focus {
  color: #000;
  border-color: #00f;
}

.error {
  font-size: 10px;
  color: #f00;
}

#success {
  color: white;
}

#send {
  margin-bottom: 90px;
  background:#0095dd;
  color:#fff;
}
#send:hover{
  background:#fff;
  color:#0095dd;
}
.contact {
  padding: 80px 0 0 0;
}

.contact h2.section-heading {
  font-size: 50px;
  margin: 0 0 40px 0;
}

.contact h3.section-subheading {
  font-family: italic 400 16px 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0 0 75px 0;
  text-transform: none;
}

section#contact_form {
  background: center no-repeat #222;
}

section#contact_form .section-heading {
  font: 700 50px Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  padding: 10px;
  color: #fff;
}

section#contact_form .form-group {
  margin: 0 0 35px 0;
}

section#contact_form .form-group input,
section#contact_form .form-group textarea {
  padding: 20px;
}

section#contact_form .form-group input.form-control {
  height: auto;
}

section#contact_form .form-group textarea.form-control {
  height: 150px;
}

section#contact_form .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact_form::-webkit-input-placeholder {
  font: 700 Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #bbb;
}

section#contact_form:-moz-placeholder {
  font: 700 Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #bbb;
}

section#contact_form::-moz-placeholder {
  font: 700 Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #bbb;
}

section#contact_form:-ms-input-placeholder {
  font: 700 Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #bbb;
}

section#contact_form .text-danger {
  color: #e74c3c;
}

.send-button {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
  width: 200px;
  height: 50px;
  margin: 0 0 0 22px;
  text-transform: uppercase;
  color: #fff;
  border-color: #fed136;
}

@media screen and (max-width: 768px) {
  #contact_form {
    padding-bottom: 10em;
  }
}

/* Footer Start*/
footer {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  clear: both;
  margin-top: -200px; /* negative value of footer height */
  padding: 20px 0;
  border-top: 5px solid #999;
  background-color: #414C59 ;
  height:170px;
}

.footer-logo img {
  width: 183px;
  height: 72px;
}

footer ul {
  list-style-type: none;
}

footer h1 {
  margin: 0;
}

footer h2 {
color: #eee;
}

footer .fa {
  margin: 3px;
  color: #eee;
}
footer .fa:hover{
  color: #0095dd;
}
footer a:hover,
a:focus {
  text-decoration: none;
}

.links a {
  font-size: 24px;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  color: #eee;
}

.links a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 2px;
  content: '';
  -webkit-transition: all .3s ease-in-out 0s;
          transition: all .3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #337ab7;
}

.links a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#file-bugs {
  color: #fff;
}

#file-bugs a {
  font-size: 1em;
}

.modal-body ul {
  list-style: none;
}

#developers-list-container {
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*Footer End*/

/* Copyright Text */
section#copyright{
  padding: 10px 0 0 0;
  color: #373333;
  border-top: 1px solid #afafaf;
  background: #D7D3C8;
}
/* Copright Text End*/
/*For Ajax Loader On Contact Us Form*/
.loadingGifOnSubmitButton {
    background:url('../img/ajax-loader.gif') no-repeat 50% 50%;
}
/*For Ajax Loader On Contact Us Form ENDS*/
